*{
	margin:0;
	padding: 0;
}
@font-face {
	font-family: 'Pathway Gothic One';
	src: url(/fonts/'PathwayGothicOne-Regular.eot');
	src: url(/fonts/'PathwayGothicOne-Regular.eot?#iefix') format('embedded-opentype'),
		url(/fonts/'PathwayGothicOne-Regular.woff2') format('woff2'),
		url(/fonts/'PathwayGothicOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*основа*/
body{
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #4e5050;
	background:url(../image/fon.jpg) center no-repeat;
	background-size: cover;
}
.wrapper{
	width: 480px;
	margin: 0 auto;
}
li{
	display: inline-block;
}
h2{
	font-family: 'Pathway Gothic One';
	font-size: 25px;
	font-weight: 100;	
	color: #263555;
	padding-bottom: 30px;
}
.name{
	display: inline-block;
	font-size: 14px;
	line-height: 19px;
	color: #263555;
	padding-bottom: 18px;
}

/* голова */
.header{
	font-family: 'Pathway Gothic One';
	font-size: 20px;
	color:#fff;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
}
.logo{
	padding: 20px;
}

/*навигационное меню*/
.navigation{
	display: inline-block;
	width: 210px;
	height: 70px
}
.navigation>ul>li{
	padding-bottom: 20px;
	list-style: none;
}
.navigation>ul>li:nth-child(2){
	padding: 0 40px;
}
.navigation>ul>li:nth-child(4){
	float: left;
}
.navigation>ul>li:nth-child(5){
	float: right;
}
.navigation li:hover{
	color: #263555;
}
.sub_menu{
	position:relative;
}
.context_menu{
	display: none;
	color: #6b7488;
	position: absolute;
	background: #f2f2f3;
	border: 1px solid #f2f2f3;
	border-radius: 2px;
	list-style: none;
	max-width: 45px;
	font-size: 14px;
	font-family: 'Pathway Gothic One';
	padding: 8px 5px;
	top: 20px;
	left: 30px;
}
.context_menu:after{
	content: url(../image/pip.png);
	position: relative;
	top:-55px;
	left: -11px;
}

.context_menu>li{
	display:block;
}


/*тело*/
.conteiner{
	background-color: white;
	margin-top: 40px;
	padding: 60px 38px;
}
.content_1{
	padding-bottom: 45px;
}
.fly{
	padding-bottom: 30px;
}
.content_2{
	padding-bottom: 55px;
	border-bottom: 1px solid #dedbdb;
}
.list{
	padding-left: 35px; 
}
.list>li{
	position: relative;
	padding-bottom: 20px;
}
.list>li:nth-child(1):before{
	content: url(../image/marker.png);
	position: absolute;
	top: 10px;
	left: -40px;
}
.list>li:nth-child(2):before{
	content: url(../image/marker_2.png);
	position: absolute;
	top: 10px;
	left: -40px;
}
.list>li:nth-child(3):before{
	content: url(../image/marker_3.png);
	position: absolute;
	top: 10px;
	left: -40px;
}
.content_3{
	padding: 55px 0 70px 0;
}
.clearfix{
	clear: both;
	min-height: 160px;
}
.choose{
	max-width: 200px;
	padding: 30px 0;
 	float: left;
}
.choose li:before{
	content: url(../image/line.png);
	padding-right: 15px;
}


.content_4{
	margin-top: 50px;
}
.frase{
	position: relative;
	border: 1px solid #e0dddd;
	width: 265px;
	margin:0 auto;
	margin-bottom: 35px; 
	height:auto;
	padding: 14px 14px  0 14px;
	background-color: #fcfafa;
	border: 1px solid #e0dddd;
}
.frase:after, .frase:before{
	content: "";
	display: block;
	border: 10px solid transparent;
	border-top: 10px solid #e0dddd ;
	background: transparent;
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -15px;
}
.frase::after {
    border-top: 10px solid #fcfafa;
    bottom: -19px; 
   }
.cent{
	text-align: center;
}
.avtor{
	font-size: 10px;
}

/*foot*/
.footer{
	max-height: 135px;
	background: #30455b;
	margin:0 auto 100px auto;
	width: 480px;
	color: white;
	padding: 20px 0;

}
.list_footer{
	width: 270px;
	margin:0 auto;
}
.name_1 {
	font-family: 'Pathway Gothic One';
	font-size: 14px;
}
.name_1  li{
	padding: 5px 0;
	text-align: center;

}
.name_1  ul>li:nth-child(2){
   padding: 0 50px;
}
.name_1  ul>li:nth-child(5){
   padding: 0 50px;
}

.contact{
	padding-top: 20px;
}

.litle{
	font-size: 10px;
}
.phone{
	width: 100px;
	display: inline-block;
	position: relative;
	top: 17px;
	right: -12px;
}
.footer_contacts{
	text-align: center;
	margin-top: 70px;
}
.footer_contacts>li{
	padding: 0 8px;
}
.min{
	font-size: 9px;
	min-width: 315px;
}